<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycom.ussum.repository.ChatRepository">
    <insert id="createRoom">
        <![CDATA[
            INSERT INTO CHAT_TABLE(ROOM_ID, ROOM_NAME)
            VALUES (#{room_id}, #{room_name})
        ]]>
    </insert>

    <insert id="saveMsg">
        <![CDATA[
            INSERT INTO MESSAGE_TABLE(ROOM_ID, CHAT_NO, MESSAGE, MEM_ID, TYPE, CREATED_TIME, MEM_NICKNAME)
            VALUES (#{room_id},
                    (SELECT count(*) + 1
                     FROM MESSAGE_TABLE
                     WHERE ROOM_ID = #{room_id}),
                    #{message},
                    #{mem_id},
                    #{type},
                    SYSDATE,
                    #{mem_nickname})
        ]]>
    </insert>

    <select id="getMsg" resultType="com.mycom.ussum.vo.ChatMessage">
        <![CDATA[
            SELECT MESSAGE, MEM_NICKNAME, TYPE, CREATED_TIME
            FROM MESSAGE_TABLE
            WHERE ROOM_ID = #{room_id}
            ORDER BY CHAT_NO
        ]]>
    </select>

    <insert id="enterRoom">
        <![CDATA[
            INSERT INTO PARTIC_TABLE(MEM_ID, ROOM_ID)
            VALUES (#{mem_id}, #{room_id})
        ]]>
    </insert>

    <delete id="quitRoom">
        <![CDATA[
            DELETE FROM PARTIC_TABLE
            WHERE MEM_ID = #{mem_id} AND ROOM_ID = #{room_id}
        ]]>
    </delete>

    <select id="getRooms" resultType="com.mycom.ussum.vo.ChatRoom">
        <![CDATA[
            SELECT *
            FROM PARTIC_TABLE
            WHERE MEM_ID = #{mem_id}
        ]]>
    </select>

    <select id="loadAllRooms" resultType="com.mycom.ussum.vo.ChatRoom">
        <![CDATA[
            SELECT *
            FROM CHAT_TABLE
        ]]>
    </select>
</mapper>