<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycom.ussum.repository.Repository">
    <select id="selectAllMember" resultType="com.mycom.ussum.vo.MemberVO">
        <![CDATA[
            SELECT *
            FROM MEMBER_TABLE
        ]]>
    </select>

    <select id="selectOneMember" resultType="com.mycom.ussum.vo.MemberVO" parameterType="java.lang.String">
        <![CDATA[
            SELECT *
            FROM MEMBER_TABLE
            WHERE MEM_ID = #{mem_id}
        ]]>
    </select>

    <update id="updateMember" parameterType="com.mycom.ussum.vo.MemberVO">
    <![CDATA[
        UPDATE MEMBER_TABLE
        SET MEM_PWD = #{mem_pwd}, MEM_GENDER = #{mem_gender},
            MEM_PHONE = #{mem_phone}, MEM_BIRTH = #{mem_birth},
            MEM_ADDRESS = #{mem_address}, MEM_TYPE = #{mem_type},
            MEM_NICKNAME = #{mem_nickname}, MEM_NAME = #{mem_name}
        WHERE MEM_ID = #{mem_id}
        ]]>
</update>


    <delete id="deleteMember">
        <![CDATA[
            DELETE FROM MEMBER_TABLE
            WHERE MEM_ID = #{mem_id}
        ]]>
    </delete>

    <insert id="savePost" parameterType="com.mycom.ussum.vo.BoardVO">
        <![CDATA[
            INSERT INTO BOARD_TABLE (POST_NO, POST_DATE, POST_TITLE, MEM_ID, POST_CONTENT, MEM_NICKNAME)
            VALUES ((SELECT NVL(MAX(POST_NO)+1, 1)
                     FROM BOARD_TABLE),
                    SYSDATE, #{post_title}, #{mem_id}, #{post_content}, #{mem_nickname})
        ]]>
    </insert>

    <select id="getAllPostNumber" resultType="int">
        <![CDATA[
            SELECT COUNT(*)
            FROM BOARD_TABLE
        ]]>
    </select>

    <select id="getPost" resultType="com.mycom.ussum.vo.BoardVO" parameterType="java.lang.String">
        <![CDATA[SELECT * FROM BOARD_TABLE WHERE POST_NO = #{post_no}]]>
    </select>

    <select id="getPagePosts" resultType="com.mycom.ussum.vo.BoardVO" parameterType="int">
        <![CDATA[
            SELECT *
            FROM (SELECT *
                  FROM BOARD_TABLE
                  ORDER BY POST_NO DESC)
            WHERE ROWNUM BETWEEN (#{page} - 1) * 10 + 1 AND #{page} * 10
        ]]>
    </select>

    <update id="updatePost" parameterType="com.mycom.ussum.vo.BoardVO">
        <![CDATA[
        UPDATE BOARD_TABLE
        SET POST_CONTENT = #{post_content}, POST_TITLE = #{post_title}
        WHERE POST_NO = #{post_no}
        ]]>
    </update>

    <delete id="deletePost" parameterType="java.lang.String">
        <![CDATA[
            DELETE FROM BOARD_TABLE
            WHERE POST_NO = #{post_no}
        ]]>
    </delete>

    <insert id="createClap">
        <![CDATA[
            INSERT INTO CLAP_TABLE(POST_NO, MEM_ID)
            VALUES (#{post_no}, #{mem_id})
        ]]>
    </insert>

    <select id="getMemberClapInPost" resultType="int">
        <![CDATA[
            SELECT NVL(MAX(CLAP), 0)
            FROM CLAP_TABLE
            WHERE MEM_ID = #{mem_id} AND POST_NO = #{post_no}
        ]]>
    </select>

    <update id="addClap">
        <![CDATA[
            UPDATE CLAP_TABLE
            SET CLAP = CLAP + 1
            WHERE POST_NO = #{post_no} AND MEM_ID = #{mem_id}
        ]]>
    </update>

    <update id="addClap2">
        <![CDATA[
            UPDATE CLAP_TABLE
            SET CLAP = (SELECT CASE WHEN CLAP + #{addition} >= 50 Then 50 else CLAP + #{addition} end
                        FROM CLAP_TABLE
                        WHERE POST_NO = #{post_no} AND MEM_ID = #{mem_id})
            WHERE POST_NO = #{post_no} AND MEM_ID = #{mem_id}
        ]]>
    </update>

    <update id="updateTotalClap">
        <![CDATA[
            UPDATE BOARD_TABLE
            SET TOTAL_CLAP = (SELECT SUM(CLAP)
                              FROM CLAP_TABLE
                              WHERE CLAP_TABLE.POST_NO = #{post_no})
            WHERE POST_NO = #{post_no}
        ]]>
    </update>

    <select id="getTotalClap" resultType="int">
        <![CDATA[
            SELECT TOTAL_CLAP
            FROM BOARD_TABLE
            WHERE POST_NO = #{post_no}
        ]]>
    </select>

    <select id="getHotPosts" resultType="com.mycom.ussum.vo.BoardVO">
        <![CDATA[
            SELECT POST_NO, POST_DATE, POST_TITLE, MEM_ID, TOTAL_CLAP
            FROM BOARD_TABLE
            ORDER BY TOTAL_CLAP DESC

        ]]>
    </select>

    <!--  comment  -->
    <insert id="createComment" parameterType="com.mycom.ussum.vo.CommentVO">
        <![CDATA[
            INSERT INTO COMMENT_TABLE(com_no, post_no, com_field, create_date, mem_id)
            VALUES (NVL((SELECT MAX(COM_NO)
                         FROM COMMENT_TABLE
                         WHERE POST_NO = #{post_no})+1, 1),
                    #{post_no}, #{com_field}, SYSDATE, #{mem_id})
        ]]>
    </insert>

    <select id="getComments" resultType="com.mycom.ussum.vo.CommentVO">
        <![CDATA[
            SELECT *
            FROM COMMENT_TABLE
            WHERE POST_NO = #{post_no}
        ]]>
    </select>

    <update id="deleteComment">
        <![CDATA[
            UPDATE COMMENT_TABLE
            SET USE = 'N'
            WHERE POST_NO=#{post_no} AND COM_NO=#{com_no}
        ]]>
    </update>

    <select id="getAllPosts" resultType="com.mycom.ussum.vo.BoardVO">
        <![CDATA[
            SELECT POST_NO, POST_DATE, POST_TITLE, MEM_ID, TOTAL_CLAP, POST_CONTENT, MEM_NICKNAME
            FROM BOARD_TABLE
            ORDER BY POST_DATE DESC
        ]]>
    </select>

</mapper>

