<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycom.ussum.repository.Repository">
    <select id="selectAllMember" resultType="com.mycom.ussum.vo.MemberVO">
        <![CDATA[
            SELECT *
            FROM "member_table"
        ]]>
    </select>

    <select id="selectOneMember" resultType="com.mycom.ussum.vo.MemberVO" parameterType="java.lang.String">
        <![CDATA[
            SELECT *
            FROM "member_table"
            WHERE MEM_ID = #{mem_id}
        ]]>
    </select>

    <insert id="savePost" parameterType="com.mycom.ussum.vo.BoardVO">
        <![CDATA[
            INSERT INTO "board_table" (POST_NO, POST_DATE, POST_TITLE, MEM_ID, POST_CONTENT)
            VALUES ((SELECT NVL(MAX(POST_NO)+1, 1)
                     FROM "board_table"),
                    SYSDATE, #{post_title}, #{mem_id}, #{post_content})
        ]]>
    </insert>

    <select id="getAllPostNumber" resultType="int">
        <![CDATA[
            SELECT COUNT(*)
            FROM "board_table"
        ]]>
    </select>

    <select id="getPost" resultType="com.mycom.ussum.vo.BoardVO" parameterType="java.lang.String">
        <![CDATA[SELECT * FROM "board_table" WHERE POST_NO = #{post_no}]]>
    </select>

    <select id="getPagePosts" resultType="com.mycom.ussum.vo.BoardVO" parameterType="int">
        <![CDATA[
            SELECT *
            FROM (SELECT *
                  FROM "board_table"
                  ORDER BY POST_DATE DESC)
            WHERE ROWNUM BETWEEN (#{page} - 1) * 10 + 1 AND #{page} * 10
        ]]>
    </select>

    <update id="updatePost" parameterType="com.mycom.ussum.vo.BoardVO">
        <![CDATA[
        UPDATE "board_table"
        SET POST_CONTENT = #{post_content} AND POST_TITLE = #{post_title}
        WHERE POST_NO = #{post_no}
        ]]>
    </update>

    <delete id="deletePost" parameterType="java.lang.String">
        <![CDATA[
            DELETE FROM "board_table"
            WHERE POST_NO = #{post_no}
        ]]>
    </delete>

    <select id="getMemberClapInPost" resultType="int">
        <![CDATA[
            SELECT CLAP
            FROM CLAP
            WHERE MEM_ID = #{mem_id} AND POST_NO = #{post_no}
        ]]>
    </select>

    <update id="addClap">
        <![CDATA[
            UPDATE CLAP
            SET CLAP = CLAP + 1
            WHERE POST_NO = #{post_no} AND MEM_ID = #{mem_id}
        ]]>
    </update>

    <update id="addTotalClap">
        <![CDATA[
            UPDATE "board_table"
            SET TOTAL_CLAP = TOTAL_CLAP +1
            WHERE POST_NO = #{post_no}
        ]]>
    </update>

    <select id="getTotalClap" resultType="int">
        <![CDATA[
            SELECT TOTAL_CLAP
            FROM "board_table"
            WHERE POST_NO = #{post_no}
        ]]>
    </select>

    <!--  comment  -->
    <insert id="createComment" parameterType="com.mycom.ussum.vo.CommentVO">
        <![CDATA[
            INSERT INTO "comment"(com_no, post_no, com_field, create_date, mem_id)
            VALUES (NVL((SELECT MAX(COM_NO)
                         FROM "comment"
                         WHERE POST_NO = #{post_no})+1, 1),
                    #{post_no}, #{com_field}, SYSDATE, #{mem_id})
        ]]>
    </insert>

    <select id="getComments" resultType="com.mycom.ussum.vo.CommentVO">
        <![CDATA[
            SELECT *
            FROM "comment"
            WHERE POST_NO = #{post_no}
        ]]>
    </select>

    <update id="deleteComment">
        <![CDATA[
            UPDATE "comment"
            SET USE = 'N'
            WHERE POST_NO=#{post_no} AND COM_NO=#{com_no}
        ]]>
    </update>


<insert id = "signUp" parameterType="com.mycom.ussum.signup.vo.SignupVO">
INSERT INTO member_table("mem_id","mem_pwd","mem_name","member_age","mem_gender","mem_phone","mem_birth","mem_address","mem_regdate","mem_type","mem_hot","mem_nickname","mem_no")
VALUES (#{mem_id},#{mem_pwd},#{mem_name},#{member_age},#{mem_gender},#{mem_phone},#{mem_birth},#{mem_address},#{mem_regdate},#{mem_type},#{mem_hot},#{mem_nickname},#{mem_no})
</insert>

<select id="checkById" resultType="int" parameterType="string">
SELECT *
FROM member_table
WHERE "mem_Id" = #{mem_Id}
</select>

<select id="checkByNickname" resultType="int" parameterType="string">
SELECT *
FROM member_table
WHERE "mem_nickname" = #{mem_nickname}
</select>
</mapper>

