<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycom.ussum.signup.dao.SignupDAO">
    <insert id = "signUp" parameterType="com.mycom.ussum.signup.vo.SignupVO">
        INSERT INTO member_table(mem_id,mem_pwd,mem_name,member_age,mem_gender,mem_phone,mem_birth,mem_address,mem_regdate,mem_type,mem_hot,mem_nickname,mem_no)
        VALUES (#{mem_id},#{mem_pwd},#{mem_name},#{member_age},#{mem_gender},#{mem_phone},#{mem_birth},#{mem_address},#{mem_regdate},#{mem_type},#{mem_hot},#{mem_nickname},#{mem_no})
    </insert>

    <select id="checkById" resultType="int" parameterType="string">
        SELECT COUNT(*)
        FROM member_table
        WHERE mem_Id = #{mem_Id}
    </select>

    <select id="checkByNickname" resultType="int" parameterType="string">
        SELECT COUNT(*)
        FROM member_table
        WHERE mem_nickname = #{mem_nickname}
    </select>

</mapper>