<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycom.ussum.repository.WithMeRepository">
    <insert id="createWithMe" parameterType="com.mycom.ussum.vo.WithMeVO">
        <![CDATA[
            UPDATE WITHME_TABLE
            SET WITHME_TITLE = #{withMe_title},
                WITHME_CONTENT = #{withMe_content},
                MEM_ID = #{mem_id},
                WITHME_X = #{withMe_x},
                WITHME_Y = #{withMe_y},
                WITHME_PNUM = #{withMe_pnum},
                WITHME_GENDER = #{withMe_gender},
                WITHME_THUMBNAIL = #{withMe_thumbnail},
                WITHME_SDATE = #{wihtMe_sdate},
                WITHME_EDATE = #{withMe_edate},
                WITHME_ID = (SELECT Max(WITHME_ID) + 1
                             FROM WITHME_TABLE)
        ]]>
    </insert>

    <select id="getWithMe" resultType="com.mycom.ussum.vo.WithMeVO">
        <![CDATA[
            SELECT *
            FROM WITHME_TABLE
            WHERE WITHME_ID = #{id}
        ]]>
    </select>

    <select id="getAllWithMe" resultType="com.mycom.ussum.vo.WithMeVO">
        <![CDATA[
            SELECT *
            FROM WITHME_TABLE
        ]]>
    </select>
</mapper>