@charset "UTF-8";

@font-face {
    font-family: "LINESeedKR-Bd";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
        format("woff2");
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

/* 음? */
button {
    margin: 20px;
}

.category-container {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center; /* 요소들을 세로 중앙 정렬하고 싶은 경우 */
}

.categoryBtn {
    font-family: "LINESeedKR-Bd";
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    margin: 0px 10px 0px 0px;
}

.categoryBtn.toggled {
    background-color: #45c4b1;
    color: #fff;
}

.categoryBtn:hover {
    background-color: #45c4b1;
    color: #fff;
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.categoryBtn:active {
    transform: scale(1.5);
}

.intro {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Boardwrap {
    flex: 1;
    margin-top: 3rem;
    margin-left: 10rem;
    margin-right: 10rem;
    position: relative;
}

.floatingBox {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 200px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Board.js에서 쓰는 css */

.list-head {
    text-align: center;
    border-top: 4px double black;
    border-bottom: 4px double black;
    margin: 0; /* 좌우 여백 제거 */
    padding: 0; /* 좌우 패딩 제거 */
}

.list {
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0; /* 좌우 여백 제거 */
    padding: 0; /* 좌우 패딩 제거 */
}

.post-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.post-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.post-head p,
.post-container p {
    flex: 1; /* 번호 컬럼의 폭을 최소 80px로 고정하고 컨텐츠에 따라 크기가 자동으로 조절됩니다. */
    margin: 0;
}

.post-head h5,
.post-container h5 {
    flex: 7; /* 제목 컬럼의 폭을 가장 넓게 설정합니다. */
    font-size: 16px;
    font-weight: normal;
    color: black;
    padding-left: 30px;
    text-align: left;
    margin: 0;
}

.post-container h5 {
    cursor: pointer;
}

.post-head span,
.post-container span {
    flex: 1; /* 작성자와 작성일 컬럼의 폭을 좁게 설정합니다. */
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.modal-open-button,
.modal-close-btn {
    cursor: pointer;
    margin-left: auto;
}

.board-modal-container {
    font-family: "LINESeedKR-Bd";
    position: fixed;
    width: 100%; /* 뷰포트 전체 너비를 차지하도록 설정 */
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5); /* 투명도를 0.1로 설정 */
    z-index: 1000;
}

.board-modal-content {
    border-radius: 10px;
    padding: 15px;
    width: 70%; /* modal-container의 너비에 상대적으로 설정 */
    max-width: 800px; /* modal-content의 최대 너비를 800px로 제한 */
    height: 90%;
    background-color: #ffffff; /* 모달 창 배경색 */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* 그림자 추가 */
    overflow: auto;
}

.writeBtn {
    font-family: "LINESeedKR-Bd";
    float: right;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.writeBtn:hover {
    background-color: #45c4b1;
    color: #fff;
    cursor: pointer;
}

.pageBtn-container {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
}

.pageBtn {
    background-color: transparent;
    color: #45c4b1;
    border: none;
    margin: 3px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.pageBtn:hover {
    color: #0056b3;
    border-color: #0056b3;
}

.board-writeBtn-container {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}

.board-write-button {
    font-size: 18px;
    border: 2px solid #5ac7c7;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    background-color: #5ac7c7;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
    margin: 0px;
}

.board-write-button:hover {
    background-color: #fff;
    color: #5ac7c7;
}

.board-write-warn {
    background-color: #f1f1f1;
    padding: 2rem;
    text-align: left;
    line-height: 1.5;
    color: #868686;
    margin: 10px 0;
    border-radius: 10px;
}

.board-write-warn-content {
    display: flex;
    align-items: center;
}

.author-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.board-post-userPimage {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block; /* 또는 display: block; */
}

.board-post-userPimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
