/* Calendar.css */

.calendar-container {
  /*font-family: Arial, sans-serif;*/
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day {
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

.day:hover {
  background-color: #f2f2f2;
}

.selected {
  background-color: #007bff;
  color: #fff;
}

.today {
  font-weight: bold;
}
