.calendar {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    display: inline-block;
    background-color: #f9f9f9; /* 배경색 변경 */
  }
  
  .week {
    display: flex;
  }
  
  .day {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 100%; /* 날짜를 동그랗게 만들기 */
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .day.empty {
    visibility: hidden;
  }
  
  .day.current-month {
    color: #333;
  }
  
  .day.other-month {
    color: #ccc;
  }
  
  .day.start-date,
  .day.end-date,
  .day.in-range {
    background-color: #5ac7c7;
    color: #fff;
  }
  
  .day.start-date {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  
  .day.end-date {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  
  .day.in-range {
    background-color: #5ac7c7;
    border-radius: 2%;
  }
  
  .month-navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* 아래 여백을 더 넓게 조정 */
  }
  
  .month-navigation button {
    margin: 0 10px; /* 좌우 여백 조정 */
    padding: 8px 16px;  
    color: #000000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .month-navigation button:hover {
    background-color: #5ac7c7;
  }
  
  