@font-face {
    font-family: "ELAND_Choice_B";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "ELAND_Choice_B";
    font-weight: 600;
}

.chat-room-div {
    display: flex;
    flex-direction: column;
    max-height: 700px;
    height: 100vh;
}

.chat-messages-container {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.chat-messages-container::-webkit-scrollbar {
    width: 7px;
}
.chat-messages-container::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
}
.chat-messages-container::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.chat-message {
    display: flex;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    max-width: 70%;
    position: relative;
}

.my-message {
    background-color: #dcf8c6; /* 본인이 보낸 메시지 색상 */
    padding: 0.5rem 1rem;
    align-self: flex-end;
    text-align: left;
    border-top-right-radius: 0;
}

.my-message::after {
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid #dcf8c6;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.other-message {
    display: flex;
}

.other-message-container {
    display: flex;
    flex-direction: column;
}

.other-message-sender {
    text-align: left;
    font-size: 12px;
}

.other-message-content {
    background-color: #cfe8ff; /* 상대방이 보낸 메시지 색상 */
    padding: 0.5rem 1rem;
    align-self: flex-start;
    text-align: left;
    border-top-left-radius: 0;
    border-radius: 10px;
}

.other-message-content::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 48px;
    width: 0;
    height: 0;
    border-right: 10px solid #cfe8ff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.profile-pic {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
}

.input-container {
    display: flex;
    padding: 10px;
}

input {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
}

.send-button {
    padding: 8px 20px;
    background-color: #45c4b1; /* 전송 버튼 배경색 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.send-button:hover {
    background-color: #9fe0dc; /* hover 시 배경색 변경 */
}
