/* ChatRoom.css */

.chat-room-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-messages-container {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
}

.my-message {
    align-self: flex-end;
    background-color: #dcf8c6; /* 내 채팅 배경색 */
}

.other-message {
    align-self: flex-start;
    background-color: #eaeaea; /* 상대방 채팅 배경색 */
}

.input-container {
    display: flex;
    padding: 10px;
}

input {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
}

.send-button {
    padding: 8px 20px;
    background-color: #45c4b1; /* 전송 버튼 배경색 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.send-button:hover {
    background-color: #9fe0dc; /* hover 시 배경색 변경 */
}
