/* Layout.css */

/* 레이아웃 컨테이너 스타일 */
.layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    overflow: auto;
}

/* Body 컴포넌트 스타일 */
.body-container {
    flex: 1;
    overflow: auto;
}

/* 푸터 컴포넌트 마진 추가 */
.footer {
    background-color: "white-smoke";
    color: #242424;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}
