/* 로그인 타이틀 */
.login_title {
    font-family: 'Segoe UI', bold;
    font-size: 35px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: #45C4B1;
}

/* 로그인 폼 */
form {
    display: inline-block;
    align-items: center;
    height: 300px;
    width: 350px;
    margin-bottom: 155px;
}

/* 텍스트 영역 */
.text_area {
    align-content: center;
    border-radius: 22px;
    margin-bottom: 30px;
    width: 100%;
    height: 64px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_area input {
    font-size: 15px;
    border: none;
    width: 80%;
    outline: none;
}

/* 버튼 영역 */
.btn {
    margin: 10%;
    text-align: center;
}

/* 호버 버튼 */
.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

/* 로그인 컨테이너 */
.login {
    text-align: center;
    position: relative; /* fixed에서 relative로 변경 */
    margin: 0 auto;
    padding: 10px;
    display: inline-block;
    background: #FFFFFF;
    width: 700px;
    height: 500px;
    margin-top: 10%;
    border-radius: 22px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* 링크 스타일 */
.link {
    color: #0e4579;
    font-size: 15px;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

/* 투명 버튼 */
.transparent-btn {
    background-color: transparent;
    border: none;
    color: #45c4b1;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}
