body{

    height: 100%;
    width: 100%;
    text-align: center;
}

h4{
    font-family: 'Segoe UI', bold;
    font-size: 35px;
    margin-top: 4rem;
    margin-bottom: 2rem;
    color: #45C4B1
}

form{
    display: inline-block;
    align-items: center;
    height: 130px;
    width: 350px;
    margin-bottom: 155px;
}
.text_area{
    align-content: center;
    border-radius: 22px;
    margin-bottom: 30px;
    width: 100%;
    height: 64px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}

.text_input{

    font-size: 20px;
    border: none;
    width: 80%;
    outline: none;
}
.text_input::placeholder {
    font-size: 14px; /* 원하는 크기로 조절하세요 */
}
.btn {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color{
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}


.login{
    display: inline-block;
    background: #FFFFFF;
    width: 700px;
    height: 500px;
    margin-top: 10%;
    border-radius: 22px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link{
    color: #0E4579;
    font-size: 15px;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

.transparent-btn {
    background-color: transparent;
    border: none;
    color: #45C4B1;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}
