/* 기본 헤딩 스타일 */
h4, h5 {
  color: rgb(80, 150, 255);
}

/* 폼 관련 스타일 */
.form {
  min-height: 180px;
}

.child {
  position: relative;
  margin-top: 40px;
}

.label {
  display: inline-block;
  width: 100px;
  line-height: 50px;
}

/* 버튼 공통 스타일 */
.signup-button-confirm, .btn-hover {
  min-width: 80px;
  padding: 10px 25px;
  margin: 10px;
  background-color: #45c4b1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
}

.signup-button-confirm:hover, .btn-hover:hover {
  background-color: #7fb5ab;
}

.btn {
  margin: 10%;
  text-align: center;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.signup-button-confirm:active {
  transform: scale(0.98);
}

/* Signup 컨테이너 스타일 */
.Signup {
  font-family: sans-serif;
  text-align: center;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background: #ffffff;
  width: 700px;
  height: 500px;
  margin-top: 10%;
  border-radius: 22px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* 수평 정렬을 위한 스타일 */
.form-group-horizontal {
  display: flex;
  align-items: center;

}

/* Input 필드 스타일 */
.signup-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #45c4b1;
  background-color: #e6f9f7;
  transition: border 0.3s, box-shadow 0.3s;
  margin-bottom: 0;
}

.signup-input:focus {
  border-color: #359d8f;
  box-shadow: 0 0 8px rgba(69, 196, 177, 0.5);
}

.input-error {
  border-color: #e74c3c;
}

.input-helper-text {
  display: block;  /* 텍스트를 블록 요소로 설정 */
  color: #e74c3c;
  font-size: 0.75rem;
  margin-top: 5px;  /* 입력 필드 아래 작은 간격 추가 */
  text-align: left; /* 왼쪽 정렬 */
  width: 100%;      /* 부모 컨테이너의 너비를 차지하도록 설정 */
}


/* ArrowBackIcon을 위한 스타일 */
.signup-back-button {
  fill: #45c4b1;
  margin-top: 30px;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 0px;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 0 80px;
}
.grid-container-fixed-height {
  height:600px;  /* 전체 그리드 컨테이너에 대한 고정 높이 설정 */
}

