.Signup {
  font-family: sans-serif;
  text-align: center;
  position: fixed; /* 또는 absolute, 단, fixed는 스크롤에 영향을 받지 않음 */
  top: 50%; /* 상단으로부터 50% 위치 */
  left: 50%; /* 왼쪽으로부터 50% 위치 */
  transform: translate(-50%, -50%); /* 자신의 크기의 반만큼 좌측과 상단으로 이동 */
  padding: 10px;
}
h5,
h4 {
  color: rgb(80, 150, 255);
}
h6 {
  position: absolute;
  color: rgb(80, 150, 255);
  left: 80px;
}
.form {
  min-height: 180px;
}
.child {
  position: relative;
  margin-top: 40px;
}
.label {
  display: inline-block;
  width: 100px;
  line-height: 50px;
}

.btn {
  margin: 10%;
  text-align: center;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color:hover {
  background-color: #45C4B1;
  border-color: #39C0B3;
}

.Signup{
  display: inline-block;
  background: #FFFFFF;
  width: 700px;
  height: 500px;
  margin-top: 10%;
  border-radius: 22px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-wide {
  max-width:2000px;
  margin: 0 auto;
}

.Signup-heading {
  color: rgb(80, 150, 255);
  margin-top: 60px;
  margin-bottom: 30px;

}

.Signuppwd-heading {
  color: rgb(80, 150, 255);
  margin: 60px 91px 30px 0;

}

.Signupnickname-heading {
  color: rgb(80, 150, 255);
  margin: 60px 91px 30px 0;

}