.Step2 {
  text-align: center;
  padding: 20px;
}

.Step2 h2 {
  margin-bottom: 40px;
  font-size: 24px;
  color: #333;
}

.Step2 .human-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.Step2 .human-button-container .row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 5px;
}

.Step2 .human-button-container button {
  padding: 20px 30px; /* 버튼의 패딩을 키워서 크기를 키웁니다 */
  font-size: 18px; /* 폰트 크기를 키워서 버튼 텍스트를 키웁니다 */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.Step2 .human-button-container button:hover {
  background-color: #e0e0e0;
  transform: translateY(-2px);
}

.Step2 .human-button-container button:active {
  background-color: #d0d0d0;
  transform: translateY(0);
}

.Step2 .human-button-container button.selected {
  background-color: #5ac7c7;
  color: white;
  border-color: #5ac7c7;
}

/* 다음 버튼 및 닫기 버튼 스타일 */
.Step2 .button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.Step2 .button-container button {
  margin: 0 10px; /* 버튼 사이의 간격 설정 */
  padding: 10px 20px;
  background-color: #5ac7c7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.Step2 .button-container button:hover {
  background-color: #469d9d;
  transform: translateY(-2px);
}

.Step2 .button-container button:active {
  background-color: #347373;
  transform: translateY(0);
}
