/* Step1.css */

.Step1 {
    text-align: center;
    margin: auto;
    max-width: 400px;
  }
  
  .Step1 h2 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
  }
  
  .Step1 button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .Step1 button:hover {
    background-color: #0056b3;
  }
  