/* Withme.css */

.Withme {
    display: flex;
    height: 100%;
    width: 100%;
}

.left-section {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.right-section {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* 수평 중앙정렬 */
}
.left-section h3 {
    text-align: left;
}

.dropdown-row {
    display: flex;
    margin-bottom: 20px;
}

.dropdown-container {
    width: calc(50% - 40px);
    margin-right: 30px;
}

.dropdown-container select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.divider {
    width: 1px; /* Adjust the width of the divider */
    min-height: 50%;
    background-color: #e4e4e4; /* Set the color of the divider */
    margin: 20px 20px; /* Add some space around the divider */
}

.withme-modal-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.modal-wrapper {
    width: 100;
}

.modal-wrapper a {
    text-decoration: none;
    color: inherit;
}

.modal-wrapper a:hover {
    opacity: 0.8;
}

.writeBtn-container {
    display: flex;
    width: 90%;
    align-items: center;
    margin-bottom: 20px;
    justify-content: flex-end; /* 버튼과 텍스트를 왼쪽 정렬 */
}

.write-button {
    font-size: 18px;
    border: 2px solid #5ac7c7;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    background-color: #5ac7c7;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
    margin: 0px;
}

.write-button:hover {
    background-color: #fff;
    color: #5ac7c7;
}

.location-text {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-size: 16px;
    color: #333;
    width: 100%;
    max-width: 800px; /* Adjust as needed */
    box-sizing: border-box;
    margin-bottom: 10px;
}

.withme-location-text {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-size: 20px;
    color: #333;
    width: 100%;
    max-width: 800px; /* Adjust as needed */
    box-sizing: border-box;
    margin-bottom: 10px;
}

.withme-location-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.withme-location-post {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 350px; /* 모달의 너비를 조정 */
    height: 280px;
    margin: 10px; /* 모달 간격을 조정 */
    cursor: pointer;
}

.map-container {
    width: 90%;
    height: 502px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
